p{
    font-family: 'Courier New', Courier, monospace;
}

.site-logo{
    height: 75px;
    width: 250px;
}

.seating-img{
    height: 400px;
    width: 600px;
    padding: 20px;
    float: left;
    border-radius: 50px;
}

.intro-text{
    margin-top: 40px;
}

.statement-text{
    margin-top:40px;
}

.drinks-banner{
    text-align: center;
}

.menu-images{
    display:flex;
    justify-content:space-around;
    flex-wrap:nowrap;
}

.img-coffee{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.img-tea{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.img-smoothie{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.img-pastries{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.img-egg-sandwich{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.img-bagel{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.img-egg-sandwich-2{
    width: 450px;
    height: 400px;
    float: left;
    padding: 20px;
    border-radius: 50px
}

.img-counter{
    height: 500px;
    float: left;
    padding: 20px;
    border-radius: 50px;
}

.img-front-door{
    height: 500px;
    float: left;
    padding: 20px;
    border-radius: 50px;
}

.insta-icon{
    height: 30px;
    width: 30px;
}

.twitter-icon{
    height: 30px;
    width: 45px;
    margin-left:10px;
}

.about-header{
    text-decoration: underline 2px;
}

.contact-header{
    text-decoration: underline 2px;
}

.contact-text{
    margin-top: 50px;
}

.about-text{
    margin-top: 75px;
}

.about-block{
    margin-top: 50px;
}